<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Failed suite [Default suite]">
  <test name="Default test(failed)">
    <classes>
      <class name="com.mercury.testScripts.TC01_Mercury_Registration">
        <methods>
          <include name="TS01_NewTrours_Registration" invocation-numbers="0"/>
          </methods>
      </class> <!-- com.mercury.testScripts.TC01_Mercury_Registration -->
    </classes>
  </test> <!-- Default test(failed) -->
</suite> <!-- Failed suite [Default suite] -->
